<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="/sps/js/jquery-3.4.1.js"></script>
</head>
<body>
ID号：<label for="id"></label><input type="text" id="id"/><br/>
密码：<label for="password"></label><input type="password" id="password"/><br/>
身份：<label>
    <select id="role">
        <option value="1">用户</option>
        <option value="2">服务提供者</option>
        <option value="3">自由职业者</option>
    </select>
</label>&nbsp;&nbsp;
<input type="button" value="登录" id="loginButton" onclick="login()"/><br/>
<input type="button" value="注册为用户" id="registerButton1" onclick="register1()"/>
<input type="button" value="注册为自由职业者" id="registerButton2" onclick="register2()"/><br/>
</body>
<script type="text/javascript">
    $(function () {
        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function (e) {
            history.pushState(null, null, document.URL);
        })
    });

    function register1() {
        window.location.href = "registerUser"
    }

    function register2() {
        window.location.href = "registerFreelancer"
    }

    function login() {
        var role = document.getElementById("role").value;
        var id = document.getElementById("id").value;
        var password = document.getElementById("password").value;
        var param = {"id": id, "password": password};
        if (role == 2) {
            // 登录服务提供者
            $.ajax({
                type: "POST",
                url: 'login/serviceProvider',
                data: {params: JSON.stringify(param)},
                datatype: "json",
                success: function (data) {
                    if (data.status === true) {
                        alert("登录成功");
                        // window.location.href="teacherMain";
                    } else {
                        alert("登录失败，请检查账号是否与密码对应！");
                    }
                }
            });
        }
        if (role == 1) {
            // 登录用户
            $.ajax({
                type: "POST",
                url: 'login/user',
                data: {params: JSON.stringify(param)},
                datatype: "json",
                success: function (data) {
                    if (data.status === true) {
                        alert("登录成功");
                        window.location.href="userMain";
                    } else {
                        alert("登录失败，请检查账号是否与密码对应！");
                    }
                }
            });
        }
        if (role == 3) {
            // 登录自由职业者
            $.ajax({
                type: "POST",
                url: 'login/freelancer',
                data: {params: JSON.stringify(param)},
                datatype: "json",
                success: function (data) {
                    if (data.status === true) {
                        alert("登录成功");
                        window.location.href="freelancerMain";
                    } else {
                        alert("登录失败，请检查账号是否与密码对应！");
                    }
                }
            });
        }
    }
</script>
</html>